In [1]:
"""
created_at: Date and time of tweet creation
tweet_id: Unique ID of the tweet
tweet: Full tweet text
likes: Number of likes
retweet_count: Number of retweets
source: Utility used to post tweet
user_id: User ID of tweet creator
user_name: Username of tweet creator
user_screen_name: Screen name of tweet creator
user_description: Description of self by tweet creator
user_join_date: Join date of tweet creator
user_followers_count: Followers count on tweet creator
user_location: Location given on tweet creator's profile
lat: Latitude parsed from user_location
long: Longitude parsed from user_location
city: City parsed from user_location
country: Country parsed from user_location
state: State parsed from user_location
state_code: State code parsed from user_location
collected_at: Date and time tweet data was mined from twitter*"""

"\ncreated_at: Date and time of tweet creation\ntweet_id: Unique ID of the tweet\ntweet: Full tweet text\nlikes: Number of likes\nretweet_count: Number of retweets\nsource: Utility used to post tweet\nuser_id: User ID of tweet creator\nuser_name: Username of tweet creator\nuser_screen_name: Screen name of tweet creator\nuser_description: Description of self by tweet creator\nuser_join_date: Join date of tweet creator\nuser_followers_count: Followers count on tweet creator\nuser_location: Location given on tweet creator's profile\nlat: Latitude parsed from user_location\nlong: Longitude parsed from user_location\ncity: City parsed from user_location\ncountry: Country parsed from user_location\nstate: State parsed from user_location\nstate_code: State code parsed from user_location\ncollected_at: Date and time tweet data was mined from twitter*"

In [2]:
import sys
print(sys.executable)

c:\Users\Raisul\Anaconda3\envs\my_env\python.exe

In [47]:
import pandas as pd

import numpy as np 
import matplotlib.pyplot as plt 
import plotly.express as px 
print(pd.__version__)

import re #install and import re (re stands for regular expression)
from langdetect import detect # this package will be used to identidy english language tweets

2.1.1

In [4]:
trump_df = pd.read_csv("E:/ReDi_School/Data_Circle/Project/dataset/hashtag_donaldtrump.csv",lineterminator='\n')

In [5]:
trump_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:01,1.316529e+18,"Usa 2020, Trump contro Facebook e Twitter: cop...",26.0,9.0,Social Mediaset,3.316176e+08,Tgcom24,MediasetTgcom24,Profilo ufficiale di Tgcom24: tutte le notizie...,...,1067661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.373216530
2,2020-10-15 00:00:02,1.316529e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8.436472e+06,snarke,snarke,"Will mock for food! Freelance writer, blogger,...",...,1185.0,Portland,45.520247,-122.674195,Portland,United States of America,North America,Oregon,OR,2020-10-21 00:00:00.746433060
3,2020-10-15 00:00:02,1.316529e+18,2 hours since last tweet from #Trump! Maybe he...,0.0,0.0,Trumpytweeter,8.283556e+17,Trumpytweeter,trumpytweeter,"If he doesn't tweet for some time, should we b...",...,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.119649591
4,2020-10-15 00:00:08,1.316529e+18,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,Twitter for iPhone,4.741380e+07,Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±,Ranaabtar,"Washington Correspondent, Lebanese-American ,c...",...,5393.0,Washington DC,38.894992,-77.036558,Washington,United States of America,North America,District of Columbia,DC,2020-10-21 00:00:01.492866121

In [6]:
trump_df["created_at"]= pd.to_datetime(trump_df["created_at"])

In [7]:
biden_df = pd.read_csv("E:/ReDi_School/Data_Circle/Project/dataset/hashtag_joebiden.csv",lineterminator='\n')

In [8]:
biden_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:18,1.316529e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,8.099044e+08,Cheri A. üá∫üá∏,Biloximeemaw,"Locked and loaded Meemaw. Love God, my family ...",...,6628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.517827283
2,2020-10-15 00:00:20,1.316529e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3.494182e+09,Flag Waver,Flag_Wavers,NaN,...,1536.0,Golden Valley Arizona,46.304036,-109.171431,NaN,United States of America,North America,Montana,MT,2020-10-21 00:00:01.035654566
3,2020-10-15 00:00:21,1.316529e+18,@chrislongview Watching and setting dvr. Let‚Äôs...,0.0,0.0,Twitter for iPhone,8.242596e+17,Michelle Ferg,MichelleFerg4,NaN,...,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.553481849
4,2020-10-15 00:00:22,1.316529e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032807e+18,the Gold State,theegoldstate,A Silicon Valley #independent #News #Media #St...,...,390.0,"California, USA",36.701463,-118.755997,NaN,United States of America,North America,California,CA,2020-10-21 00:00:02.071309132

In [9]:
biden_df["created_at"]=pd.to_datetime(biden_df["created_at"])

In [10]:
biden_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776886 entries, 0 to 776885
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            776886 non-null  datetime64[ns]
 1   tweet_id              776886 non-null  float64
 2   tweet                 776886 non-null  object
 3   likes                 776886 non-null  float64
 4   retweet_count         776886 non-null  float64
 5   source                776173 non-null  object
 6   user_id               776886 non-null  float64
 7   user_name             776861 non-null  object
 8   user_screen_name      776886 non-null  object
 9   user_description      694877 non-null  object
 10  user_join_date        776886 non-null  object
 11  user_followers_count  776886 non-null  float64
 12  user_location         543092 non-null  object
 13  lat                   355293 non-null  float64
 14  long                  355293 non-null  float64
 15  city                  186872 non-null  object
 16  country               353779 non-null  object
 17  continent             353797 non-null  object
 18  state                 260195 non-null  object
 19  state_code            244609 non-null  object
 20  collected_at          776886 non-null  object
dtypes: datetime64[ns](1), float64(7), object(13)
memory usage: 124.5+ MB

In [11]:
print(trump_df.shape)
print(biden_df.shape)

(970919, 21)
(776886, 21)

In [12]:
trump_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970919 entries, 0 to 970918
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            970919 non-null  datetime64[ns]
 1   tweet_id              970919 non-null  float64
 2   tweet                 970919 non-null  object
 3   likes                 970919 non-null  float64
 4   retweet_count         970919 non-null  float64
 5   source                970043 non-null  object
 6   user_id               970919 non-null  float64
 7   user_name             970897 non-null  object
 8   user_screen_name      970919 non-null  object
 9   user_description      869651 non-null  object
 10  user_join_date        970919 non-null  object
 11  user_followers_count  970919 non-null  float64
 12  user_location         675957 non-null  object
 13  lat                   445719 non-null  float64
 14  long                  445719 non-null  float64
 15  city                  227187 non-null  object
 16  country               442748 non-null  object
 17  continent             442765 non-null  object
 18  state                 320620 non-null  object
 19  state_code            300425 non-null  object
 20  collected_at          970919 non-null  object
dtypes: datetime64[ns](1), float64(7), object(13)
memory usage: 155.6+ MB

In [13]:
biden_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776886 entries, 0 to 776885
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            776886 non-null  datetime64[ns]
 1   tweet_id              776886 non-null  float64
 2   tweet                 776886 non-null  object
 3   likes                 776886 non-null  float64
 4   retweet_count         776886 non-null  float64
 5   source                776173 non-null  object
 6   user_id               776886 non-null  float64
 7   user_name             776861 non-null  object
 8   user_screen_name      776886 non-null  object
 9   user_description      694877 non-null  object
 10  user_join_date        776886 non-null  object
 11  user_followers_count  776886 non-null  float64
 12  user_location         543092 non-null  object
 13  lat                   355293 non-null  float64
 14  long                  355293 non-null  float64
 15  city                  186872 non-null  object
 16  country               353779 non-null  object
 17  continent             353797 non-null  object
 18  state                 260195 non-null  object
 19  state_code            244609 non-null  object
 20  collected_at          776886 non-null  object
dtypes: datetime64[ns](1), float64(7), object(13)
memory usage: 124.5+ MB

In [14]:
trump_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:01,1.316529e+18,"Usa 2020, Trump contro Facebook e Twitter: cop...",26.0,9.0,Social Mediaset,3.316176e+08,Tgcom24,MediasetTgcom24,Profilo ufficiale di Tgcom24: tutte le notizie...,...,1067661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.373216530
2,2020-10-15 00:00:02,1.316529e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8.436472e+06,snarke,snarke,"Will mock for food! Freelance writer, blogger,...",...,1185.0,Portland,45.520247,-122.674195,Portland,United States of America,North America,Oregon,OR,2020-10-21 00:00:00.746433060
3,2020-10-15 00:00:02,1.316529e+18,2 hours since last tweet from #Trump! Maybe he...,0.0,0.0,Trumpytweeter,8.283556e+17,Trumpytweeter,trumpytweeter,"If he doesn't tweet for some time, should we b...",...,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.119649591
4,2020-10-15 00:00:08,1.316529e+18,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,Twitter for iPhone,4.741380e+07,Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±,Ranaabtar,"Washington Correspondent, Lebanese-American ,c...",...,5393.0,Washington DC,38.894992,-77.036558,Washington,United States of America,North America,District of Columbia,DC,2020-10-21 00:00:01.492866121

In [15]:
biden_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:18,1.316529e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,8.099044e+08,Cheri A. üá∫üá∏,Biloximeemaw,"Locked and loaded Meemaw. Love God, my family ...",...,6628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.517827283
2,2020-10-15 00:00:20,1.316529e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3.494182e+09,Flag Waver,Flag_Wavers,NaN,...,1536.0,Golden Valley Arizona,46.304036,-109.171431,NaN,United States of America,North America,Montana,MT,2020-10-21 00:00:01.035654566
3,2020-10-15 00:00:21,1.316529e+18,@chrislongview Watching and setting dvr. Let‚Äôs...,0.0,0.0,Twitter for iPhone,8.242596e+17,Michelle Ferg,MichelleFerg4,NaN,...,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.553481849
4,2020-10-15 00:00:22,1.316529e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032807e+18,the Gold State,theegoldstate,A Silicon Valley #independent #News #Media #St...,...,390.0,"California, USA",36.701463,-118.755997,NaN,United States of America,North America,California,CA,2020-10-21 00:00:02.071309132

In [16]:
trump_df.columns

Index(['created_at', 'tweet_id', 'tweet', 'likes', 'retweet_count', 'source',
       'user_id', 'user_name', 'user_screen_name', 'user_description',
       'user_join_date', 'user_followers_count', 'user_location', 'lat',
       'long', 'city', 'country', 'continent', 'state', 'state_code',
       'collected_at'],
      dtype='object')

In [17]:
trump_df.describe()

,created_at,tweet_id,likes,retweet_count,user_id,user_followers_count,lat,long
count,970919,9.709190e+05,970919.000000,970919.000000,9.709190e+05,9.709190e+05,445719.000000,445719.000000
mean,2020-10-31 11:00:14.611891456,1.322494e+18,7.477011,1.698500,4.468311e+17,2.260357e+04,35.697936,-40.369638
min,2020-10-15 00:00:01,1.316529e+18,0.000000,0.000000,5.310000e+02,0.000000e+00,-90.000000,-175.202642
25%,2020-10-25 21:32:58,1.320478e+18,0.000000,0.000000,2.169326e+08,7.700000e+01,32.701939,-96.796856
50%,2020-11-03 13:05:56,1.323612e+18,0.000000,0.000000,2.373392e+09,4.410000e+02,39.783730,-74.006015
75%,2020-11-06 00:12:03,1.324505e+18,1.000000,0.000000,1.078344e+18,2.066000e+03,46.603354,6.776314
max,2020-11-08 23:59:56,1.325589e+18,74084.000000,20491.000000,1.325581e+18,1.911533e+07,90.000000,179.048837
std,NaN,2.555133e+15,158.058117,40.028419,5.544702e+17,3.042152e+05,18.823129,67.531751

In [18]:
biden_df.describe()

,created_at,tweet_id,likes,retweet_count,user_id,user_followers_count,lat,long
count,776886,7.768860e+05,776886.000000,776886.000000,7.768860e+05,7.768860e+05,355293.000000,355293.000000
mean,2020-11-01 10:12:21.985359616,1.322844e+18,10.161164,2.131331,4.532033e+17,2.884994e+04,35.104203,-41.979660
min,2020-10-15 00:00:01,1.316529e+18,0.000000,0.000000,1.081000e+03,0.000000e+00,-79.406307,-172.120051
25%,2020-10-26 23:29:05.249999872,1.320870e+18,0.000000,0.000000,2.257285e+08,7.400000e+01,31.816038,-97.268406
50%,2020-11-04 08:03:33,1.323899e+18,0.000000,0.000000,2.464208e+09,4.280000e+02,39.783730,-74.006015
75%,2020-11-07 16:37:06,1.325115e+18,2.000000,0.000000,1.088044e+18,2.081000e+03,43.653482,5.966069
max,2020-11-08 23:59:58,1.325589e+18,165702.000000,63473.000000,1.325575e+18,8.241710e+07,90.000000,179.048837
std,NaN,2.585560e+15,390.974423,96.661527,5.573483e+17,4.141085e+05,17.907910,67.823724

In [19]:
trump_df['candidate'] = 'trump_df'

biden_df['candidate'] = 'biden_df'

# combining the dataframes 
both_data = pd.concat([trump_df, biden_df]) 

# FInal data shape 
print('Final Data Shape :', both_data.shape) 

 
both_data.head(3)

Final Data Shape : (1747805, 22)

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_location,lat,long,city,country,continent,state,state_code,collected_at,candidate
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,360666534.0,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00,trump_df
1,2020-10-15 00:00:01,1.316529e+18,"Usa 2020, Trump contro Facebook e Twitter: cop...",26.0,9.0,Social Mediaset,331617619.0,Tgcom24,MediasetTgcom24,Profilo ufficiale di Tgcom24: tutte le notizie...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.373216530,trump_df
2,2020-10-15 00:00:02,1.316529e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8436472.0,snarke,snarke,"Will mock for food! Freelance writer, blogger,...",...,Portland,45.520247,-122.674195,Portland,United States of America,North America,Oregon,OR,2020-10-21 00:00:00.746433060,trump_df

In [20]:
both_data.drop(['tweet_id', 'source', 'city',
       'user_id', 'user_name', 'user_screen_name', 'user_description',
       'user_join_date','user_followers_count','long','lat','state_code','user_location','collected_at'], axis=1,inplace=True)

In [21]:
both_data.columns

Index(['created_at', 'tweet', 'likes', 'retweet_count', 'country', 'continent',
       'state', 'candidate'],
      dtype='object')

In [22]:
both_data.duplicated().sum()
#no duplicate rows in DataFrame trump_df

3202

In [23]:
both_data.drop_duplicates().inplace=True

In [24]:
both_data.isnull().sum()
#NaN values for each column

created_at             0
tweet                  0
likes                  0
retweet_count          0
country           951278
continent         951243
state            1166990
candidate              0
dtype: int64

In [25]:
both_data['continent'].unique()

array(['North America', nan, 'Europe', 'Oceania', 'Africa',
       'South America', 'Asia', 'Antarctica'], dtype=object)

In [26]:
both_data['country'].unique()

array(['United States of America', nan, 'United Kingdom', 'Germany',
       'United States', 'Australia', 'Costa Rica', 'Barbados', 'Cameroon',
       'The Netherlands', 'Mexico', 'Canada', 'France', 'Peru',
       'Argentina', 'South Korea', 'Finland', 'Mongolia', 'India',
       'Japan', 'Turkey', 'Switzerland', 'Iran', 'Portugal', 'Ireland',
       'Russia', 'Greece', 'Egypt', 'Ecuador', 'Colombia', 'Sri Lanka',
       'Italy', 'China', 'Malaysia', 'Indonesia', 'Venezuela', 'Thailand',
       'Sweden', 'Nepal', 'Bangladesh', 'Philippines',
       'Dominican Republic', 'New Zealand', 'Chile', 'Honduras',
       'Azerbaijan', 'Georgia', 'Spain', 'Cyprus', 'Morocco',
       'Netherlands', 'Saudi Arabia', 'Norway', 'Singapore', 'Cuba',
       'Niger', 'Hungary', 'Greenland', 'United Arab Emirates', 'Brazil',
       'Uganda', 'Guatemala', 'Pakistan', 'Taiwan', 'Qatar',
       'Afghanistan', 'South Africa', 'Nigeria', 'Slovakia', 'Guyana',
       'Kenya', 'Iraq', 'Denmark', 'Uruguay', 'Belgium', 'Lebanon',
       'Austria', 'Liechtenstein', 'Tunisia', 'Bosnia and Herzegovina',
       'Iceland', 'Sudan', 'Czech Republic', 'Malta', 'Poland', 'Israel',
       'Serbia', 'Luxembourg', 'Trinidad and Tobago', 'Ethiopia',
       'Rwanda', 'Somalia', 'Panama', 'Ukraine', 'Kuwait', 'El Salvador',
       'Palestinian Territory', 'Papua New Guinea', 'Nicaragua', 'Jersey',
       'Bolivia', 'Bahrain', 'Cambodia', 'British Virgin Islands',
       'Algeria', 'Uzbekistan', 'Kosovo', 'Albania', 'Myanmar', 'Monaco',
       'Jamaika', 'Paraguay', 'Tanzania', 'Liberia', 'Cayman Islands',
       'Gabon', 'Seychelles', 'Fiji', 'Laos', 'Maldives', 'Ghana',
       'Mauritius', 'Gibraltar', 'Zimbabwe', 'Armenia', 'Latvia',
       'Kiribati', 'Lithuania', 'Madagascar', 'The Gambia', 'Syria',
       'Romania', 'Sierra Leone', 'Burkina Faso', 'Estonia', 'Jordan',
       'Vietnam', 'Slovenia', 'Tajikistan', "C√¥te d'Ivoire", 'Grenada',
       'Republic of the Congo', 'Democratic Republic of the Congo',
       'Senegal', 'Yemen', 'Croatia', 'Congo-Brazzaville', 'Libya',
       'North Korea', 'Tonga', 'Oman', 'Moldova', 'Haiti', 'Angola',
       'Djibouti', 'Falkland Islands', 'The Bahamas', 'Vatican City',
       'Montenegro', 'Bulgaria', 'Zambia', 'Suriname', 'North Macedonia',
       'Hong Kong', 'Guinea', 'Saint Kitts and Nevis', 'Bahamas',
       'Puerto Rico', 'Dominica', 'Vanuatu', 'Namibia', 'Kazakhstan',
       'Belize', 'Cape Verde', 'Benin', 'Northern Mariana Islands',
       'Congo', 'Isle of Man', 'Turks and Caicos Islands', 'Anguilla',
       'Belarus', 'South Sudan', 'Federated States of Micronesia',
       'Faroe Islands', 'Antigua and Barbuda', 'Samoa', 'Saint Lucia',
       'Mali', 'Lesotho', 'East Timor'], dtype=object)

In [27]:
#continents_to_remove = ['Europe', 'Oceania', 'Africa','South America', 'Asia', 'Antarctica']

#both_data.drop(both_data[both_data['continent'].isin(continents_to_remove)].index,inplace=True)

In [28]:

both_data = both_data[(both_data['continent'] == 'North America') & (both_data['country'] == 'United States of America') | (both_data['country'] == 'United States')]

In [29]:
both_data['country'].unique()

array(['United States of America', 'United States'], dtype=object)

In [30]:
both_data.dropna(inplace=True)

In [31]:
both_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 332457 entries, 0 to 776872
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   created_at     332457 non-null  datetime64[ns]
 1   tweet          332457 non-null  object
 2   likes          332457 non-null  float64
 3   retweet_count  332457 non-null  float64
 4   country        332457 non-null  object
 5   continent      332457 non-null  object
 6   state          332457 non-null  object
 7   candidate      332457 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 22.8+ MB

In [32]:
both_data.apply(lambda x: x.isna().sum()/len(x), axis=0)

created_at       0.0
tweet            0.0
likes            0.0
retweet_count    0.0
country          0.0
continent        0.0
state            0.0
candidate        0.0
dtype: float64

In [33]:
both_data['country'] = both_data['country'].replace({'United States of America': "US",'United States': "US"})

In [34]:
both_data['country'].value_counts()

country
US    332457
Name: count, dtype: int64

In [35]:
both_data

,created_at,tweet,likes,retweet_count,country,continent,state,candidate
0,2020-10-15 00:00:01,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,US,North America,Florida,trump_df
2,2020-10-15 00:00:02,"#Trump: As a student I used to hear for years,...",2.0,1.0,US,North America,Oregon,trump_df
4,2020-10-15 00:00:08,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,US,North America,District of Columbia,trump_df
5,2020-10-15 00:00:17,@CLady62 Her 15 minutes were over long time ag...,2.0,0.0,US,North America,California,trump_df
7,2020-10-15 00:00:18,@DeeviousDenise @realDonaldTrump @nypost There...,0.0,0.0,US,North America,Ohio,trump_df
...,...,...,...,...,...,...,...,...
776861,2020-11-08 23:58:09,#election #2020Elections #trump #biden https:/...,0.0,0.0,US,North America,New York,biden_df
776862,2020-11-08 23:58:10,@GOP @GOPLeader @senatemajldr @LindseyGrahamSC...,0.0,0.0,US,North America,Massachusetts,biden_df
776865,2020-11-08 23:58:24,@FLOTUS I‚Äôm excited to have a FLOTUS whose vag...,0.0,0.0,US,North America,District of Columbia,biden_df
776870,2020-11-08 23:58:48,The man needs some help...#usa #biden\nWhen wi...,0.0,0.0,US,North America,Idaho,biden_df
776872,2020-11-08 23:58:56,LIONZ DEN PRESENTS TO YOU \n\n‚ÄúTHE WHITE OBAMA...,1.0,0.0,US,North America,Minnesota,biden_df

In [36]:
both_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 332457 entries, 0 to 776872
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   created_at     332457 non-null  datetime64[ns]
 1   tweet          332457 non-null  object
 2   likes          332457 non-null  float64
 3   retweet_count  332457 non-null  float64
 4   country        332457 non-null  object
 5   continent      332457 non-null  object
 6   state          332457 non-null  object
 7   candidate      332457 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 22.8+ MB

In [44]:
both_data.apply(lambda x: x.isna().sum(), axis=0)

created_at       0
tweet            0
likes            0
retweet_count    0
country          0
continent        0
state            0
candidate        0
dtype: int64

Now remove the special characters and URLs from the tweets to make the tweets clean for NLP

In [46]:
def clean_tweet(tweet):
    # Convert to lowercase
    tweet = tweet.lower()
    
    # Remove URLs
    tweet = re.sub(r'http\S+|www\S+|https\S+', '', tweet, flags=re.MULTILINE)
    
    # Remove @mentions
    tweet = re.sub(r'@\w+', '', tweet)
    
    # Remove hashtags (keep the word, remove the #)
    tweet = re.sub(r'#\w+', lambda x: x.group()[1:], tweet)
    
    # Remove non-word characters (anything other than a-z, A-Z, 0-9, and underscore)
    tweet = re.sub(r'[^\w\s]', '', tweet)
    
    # Remove extra whitespace
    tweet = re.sub(r'\s+', ' ', tweet).strip()
    
    return tweet

both_data['cleaned_tweet'] = both_data['tweet'].apply(clean_tweet)

# Preview the first few rows of the dataset to verify
print(both_data[['tweet', 'cleaned_tweet']].head())

                                               tweet  \
0  #Elecciones2020 | En #Florida: #JoeBiden dice ...
2  #Trump: As a student I used to hear for years,...
4  You get a tie! And you get a tie! #Trump ‚Äòs ra...
5  @CLady62 Her 15 minutes were over long time ag...
7  @DeeviousDenise @realDonaldTrump @nypost There...

                                       cleaned_tweet
0  elecciones2020 en florida joebiden dice que do...
2  trump as a student i used to hear for years fo...
4  you get a tie and you get a tie trump s rally ...
5  her 15 minutes were over long time ago omarosa...
7  there wont be many of them unless you all have...

Identify English language tweets

In [48]:
def detect_language(tweet):
    try:
        return detect(tweet)
    except:
        return None

In [49]:
%%time

both_data["detected_language"]= np.where(
    both_data["country"]=="US",                 #applying condition where country is US
    both_data["tweet"].apply(detect_language),  #applying detect_language function where condition is true
    np.nan                                      #set to nan if condition is false
)

CPU times: total: 30min 41s
Wall time: 31min 14s

Filtering english tweets

In [51]:
english_tweets= both_data[both_data["detected_language"]=="en"]

print(f"Total English Tweets: {len(english_tweets)}")

Total English Tweets: 293929

In [52]:
english_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 293929 entries, 2 to 776872
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   created_at         293929 non-null  datetime64[ns]
 1   tweet              293929 non-null  object
 2   likes              293929 non-null  float64
 3   retweet_count      293929 non-null  float64
 4   country            293929 non-null  object
 5   continent          293929 non-null  object
 6   state              293929 non-null  object
 7   candidate          293929 non-null  object
 8   cleaned_tweet      293929 non-null  object
 9   detected_language  293929 non-null  object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 24.7+ MB

Export as csv

In [53]:
english_tweets.to_csv("english_tweets.csv")